{% extends "friends/base.html" %}
{% block content %}
<h1>このユーザーに申請を送りますか？</h1>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th>都道府県</th>
        <th>市区町村</th>
    </tr>
    <tr>
        <td style="vertical-align: middle;">{{ user.username }}</td>
        <td style="vertical-align: middle;">{{ user.email }}</td>
        <td style="vertical-align: middle;">{{ user.place1 }}</td>
        <td style="vertical-align: middle;">{{ user.place2 }}</td>
    </tr>
</table>
<button type="button" class="btn btn-primary" onclick="location.href='../friends/search'">戻る</button>
<form action="../friends/request/com" method="post">
    <input type="hidden" name="userid" value="{{user.id}}">
    <input type="submit" name="userid" id="userid" value="フレンド申請する">
</form>
{% endblock %}