{% extends "friends/base.html" %}
{% block content %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">ユーザーの一覧</h6>
        <div class="search">
            <form>
                <input type="text" name="search" placeholder="ユーザー名かメールアドレスを入力してください" style="width: 60%; height: 50px;">
                <input type="submit" value="検索🔎" style="height: 50px;">
            </form>
        </div>
    </div>
    {% if users | length == 0 %}
    <h1>検索したユーザーは0件です</h1>
    {% else %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ユーザー名</th>
                        <th>メールアドレス</th>
                        <th>都道府県</th>
                        <th>市区町村</th>
                        <th>フレンド申請</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ユーザー名</th>
                        <th>メールアドレス</th>
                        <th>都道府県</th>
                        <th>市区町村</th>
                        <th>フレンド申請</th>
                    </tr>
                </tfoot>
                <tfoot>
                    {% for user in users %}
                    <tr>
                        <form action="../friends/request" method="post">
                            <th>{{ user.username }}</th>
                            <th>{{ user.email }}</th>
                            <th>{{ user.place1 }}</th>
                            <th>{{ user.place2 }}</th>
                            <input type="hidden" name="userid" value="{{user.id}}">
                            <th><input class="btn btn-primary" type="submit" name="userid" id="userid" value="申請"></th>
                        </form>
                    </tr>
                    {% endfor %}
                </tfoot>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}