{% extends "friends/base.html" %}
{% block content %}
<div class="search">
    <form>
        <input type="text" name="search">
        <input type="submit" value="検索🔎">
    </form>
</div>
<h1>ユーザーの一覧</h1>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th>都道府県</th>
        <th>市区町村</th>
        <th>フレンド申請</th>
    </tr>
    {% for user in users %}
    <tr>
        <form action="../friends/request" method="post">
            <td style="vertical-align: middle;">{{ user.username }}</td>
            <td style="vertical-align: middle;">{{ user.email }}</td>
            <td style="vertical-align: middle;">{{ user.place1 }}</td>
            <td style="vertical-align: middle;">{{ user.place2 }}</td>
            <input type="hidden" name="userid" value="{{user.id}}">
            <td style="vertical-align: middle;"><input class="btn btn-primary" type="submit" name="userid" id="userid" value="申請"></button></td>
        </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}