{% extends "crud/base.html" %}
{% block content %}
<div class="container mt-5">
    {% if garbage_counts %}
    <!-- 円グラフとリストを横並びに配置 -->
    <div class="row">
        <div class="col-md-6">
            <a href="{{ url_for('crud.crud_function') }}" class="btn btn-lg btn-secondary">戻る</a>
            <h1>ごみの種類別円グラフ</h1>
            <!-- 月の選択フォーム -->
            <form method="POST" action="{{ url_for('crud.chart') }}" class="mb-4 px-1">
                <label for="month">月を選択:</label>
                <select name="month" id="month" class="form-control d-inline-block w-auto">
                    {% for month in months %}
                    <option value="{{ month }}" {% if month == selected_month %}selected{% endif %}>{{ month }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">表示</button>
            </form>
            <!-- ゴミの個数データのリスト -->
            <div class="card">
                <div class="card-header bg-primary text-white">
                    ごみの個数データ
                </div>
                <ul class="list-group list-group-flush">
                    {% for garbage in garbage_counts %}
                        <li class="list-group-item">
                            {{ garbage.name }}: {{ garbage.count }} 個
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6 text-center mb-5">
            <!-- 円グラフ -->
            <img src="data:image/png;base64,{{ graph_url }}" alt="ごみの種類円グラフ" class="img-fluid">
        </div>
    </div>
    {% else %}
        <h1>データがありません</h1>
        <a href="{{ url_for('crud.crud_function') }}" class="btn btn-lg btn-secondary">戻る</a>
    {% endif %}
</div>
{% endblock %}