{% extends "auth/base.html" %}
{% block content %}
<button type="button" class="btn btn-custom" onclick="location.href='../friends/search'" style="background-color: orange;color: black;">ユーザー検索</a>
<button type="button" class="btn btn-custom" onclick="location.href='./home'" style="background-color: rgb(232, 13, 232);color: black;">チャット</button>
<button type="button" class="btn btn-custom" onclick="location.href='./home'" style="background-color: rgb(50, 185, 231);color: black;">フレンド機能</button>
<button type="button" class="btn btn-custom" onclick="location.href='./home'" style="background-color: greenyellow;color: black;">ゴミの登録</button>
<button type="button" class="btn btn-custom" onclick="location.href='./home'" style="background-color: rgb(233, 48, 48);color: black;">ゴミの集計</button>
{% endblock %}