{% extends "auth/base.html" %}
{% block content %}
<div class="button-container">
    <div class="left-buttons">
        <button type="button" class="btn btn-flat" onclick="location.href='../friends/search'"><span>ユーザー検索</span></button>
        <button type="button" class="btn btn-flat2" onclick="location.href='../chat/userlist'"><span>チャット　　</span></button>
    </div>
    <div class="right-buttons">
        <button type="button" class="btn btn-flat3" onclick="location.href='../friends'"><span>フレンド　　</span></button>
        <button type="button" class="btn btn-flat4" onclick="location.href='../crud/'"><span>ごみの記録　</span></button>
    </div>
</div>
{% endblock %}